<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=""-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyListMaking.NoActionBar">
            <intent-filter>

                <!-- the activity presented when the app is launched -->
                <action android:name="android.intent.action.MAIN" />

                <!--
                 the launcher indicating that the activity is the entry point/ should be showing in the application
                 launcher
                -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- enabling app indexing/appear in google search results -->
                <category android:name="andoid.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>